<!DOCTYPE html>
<html>
    @!component('components.head', title="Teacher Allocation System")
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="TAS.png" height="200">
          </a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      </nav>    <body>
        <div class="section">
            <section class="hero is-info is-medium">
                <div class="hero-body">
                    <div class="columns">
                        <div class="column is-three-quarters">
                            <p class="title">
                            401 - unauthorized ):
                            </p>
                            <i class="fas fa-frown"></i>
                            <p class="subtitle">
                            Sorry, You need to sign up or login to see this page!
                            </p>
                            <button class="button is-link" onclick="goBack()">Go Back</button>
                            <script>
                                function goBack() {
                                  window.history.back();
                                }
                            </script>
                        </div>
                        <div class="column">
                            <div class="buttons">
                                <a class="button is-primary" href="signup">
                                    <strong>Sign up</strong>
                                </a>
                                <a class="button is-light" href="login">
                                    Log in
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>