<!DOCTYPE html>
<html>
@!component('components.head', title="Teacher Allocation System")
@!component('components.header')
<h1 style="color:blue;">You have reached a dead end</h1>
<h2 style="color:red">This is a 404 error pls go back</h2>
@include('partials.footer')

</html>