<!DOCTYPE html>
<html>
@!component('components.head', title="Teacher Allocation System")
@!component('components.headerauth')
<body>
    <section class="hero is-danger">
      <div class="hero-body">
        <p class="title">404 Page Not Found</p>
      </div>
    </section>
</body>
@include('partials.footer')
</html>