<!DOCTYPE html>

<html>
  @!component('components.head', title="Teacher Allocation System")

  <body>
    <div class="wrapper">
      @include('partials/sidebar')
      <div class="content-section">
      <section class="main-content">
      
        {{--  Warning Message for Unallocated units  --}}
        <div>
          @if(offerings.length < 0)
            @!component('components.unallocatedwarning')
          @endif
        </div>

        {{--  Display a Modal for Add Allocation  --}}
        @!component('components.addallocation', {
          csrf: csrfField(),
          academics: academics,
          units: units,
          allocations: allocations,
          offerings: offerings,
          aggAllocations: aggAllocations
        })
        {{--  Display filtering options  --}}
        @!component('components.searchAllocations', {
          title: "Find allocation (unit code)...",
          csrf: csrfField(),
          route: route('AllocationController.render'),
          academics: academics,
          units: units,
          allocations: allocations,
          offerings: offerings,
          aggAllocations: aggAllocations,
          subjectAreaGroups: subjectAreaGroups,
          tickedCheckBoxes1: tickedCheckBoxes1,
          semesters: semesters,
          tickedCheckBoxes2: tickedCheckBoxes2,
          minEnrols: minEnrols,
          maxEnrols: maxEnrols,
          minShare: minShare,
          maxShare: maxShare,
          minTotal: minTotal,
          maxTotal: maxTotal
        })

        {{-- Display Allocations --}}
        @!component('components.displayallocations', {
          csrf: csrfField(),
          academics: academics,
          units: units,
          allocations: allocations,
          offerings: offerings,
          aggAllocations: aggAllocations
        })
      </section>
    </div>
    </div>
  </body>
</html>
