<!DOCTYPE html>
<html>
  @!component('components.head', title="Teacher Allocation System")
  @include('partials/sidebar')
  <body class="make-flex">
    <div class="dashboard-content dd-font">
      {{--  Warning Message for Unallocated units  --}}
      <div>
        @if(unitsUnalloc > 0)
          @!component('components.unallocatedwarning', unitsUnalloc=unitsUnalloc)
        @endif
      </div>
      {{--  Title, Search Bar--}}
      <div class="level">
        <div>
          <h1 class="title">Allocations</h1>
          <h2 class="subtitle">Add and Search for Allocations</h2>
        </div>
              
      @!component('components.addallocation', csrf=csrfField(), academics=academicList, units=unitList, years=years)
      </div>


      @!component('components.searchbar', title="Find allocation", csrf=csrfField(), years=years, route=route('AllocationController.render'))


      <div class="container">
        {{-- Display Allocations --}}
        @!component('components.displayallocations', csrf=csrfField(), allocAcademics=allocAcademics)
      </div>
    </div>
  </body>

</html> 
