<!DOCTYPE html>
<html>
  @!component('components.head', title="Dashboard")
  <body>
    <div class="wrapper">
      @include('partials/sidebar')
      {{-- The <p> tags below allow us to carry over information from the rendering 
        method in DashboardController.js, this is then passed to the charts in their
        respective component files --}}
      <div class="content-section">
        <div>
          <p id="allocationFulfillment" style="display: none;">{{allocationFulfillment}}</p>
          <p id="allocationChartType" style="display: none;">{{allocationChartType}}</p>
          <canvas id="allocationFulfillmentBarChart"></canvas>
        </div>
        <div>
          <p id="topAndBottom5Allocations" style="display: none;">{{topAndBottom5Allocations}}</p>
          <canvas id="topAndBottom5AllocationsBarChart"></canvas>
        </div>
      </div>
    </div>
  </body>
</html>

{{-- Load the Chart.js library from the CDN --}}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{{-- Import the chart components into the document to render the canvases --}}
@!component('components/allocationFulfillmentChart')
@!component('components/topAndBottom5Chart')

