<!DOCTYPE html>
<html>
@!component('components.head', title="Teacher Allocation System")
@include('partials/sidebar')

<body class="flex-container">

  <div class="dashboard-card">
    <h2 class="dashboard-title">Export</h2>
    <p class="dashboard-paragraph">Export to a spreadsheet.</p>
    @!component('components.csvexport', csrf=csrfField())
  </div>

</body>
</html>