<!DOCTYPE html>
<html>
  @!component('components.head', title="Teacher Allocation System")
  @include('partials/sidebar')
  <body class="flex-container">
    
    <section class="main-content dd-font">
      <h1 class="page-title">Help</h1>
      <h2 class="page-subtitle">A guide to using the Teaching Allocation System (TAS)</h2>
      
      <div class="dashboard-col">
        <div class="dashboard-card">
          <p class="dashboard-paragraph">
          Click on any topic to learn more about it
          </p>

          <div>
            <div class="table-outter">
              <div class="table-static">
                <div class="table-section--xx-small text-align-center margin-8"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                <div class="table-section--medium margin-8">Importing</div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    
  </body>
</html>
