<!DOCTYPE html>
<html>
@!component('components.head', title="Teacher Allocation System")
@!component('components.header')
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Teacher Allocation System
      </h1>
      <p class="subtitle">
        "Hi ____! Welcome to the Teacher Allocation System (TAS)""
      </p> 
      <h2 class="title">
        Getting Started
      </h2>
    </div>
  </section>
  </body>

@include('partials.footer')

</html>