<!DOCTYPE html>
<html>
@loggedIn
  @!component('components.head', title="Teacher Allocation System")

<body>
  
  <div class="wrapper">
    @include('partials/sidebar')
    <div class="content-section">
      <section class="main-content">
        <div style="padding:32px;">
        <div class="" style="margin-left:8px;">
          <h1 class="title">Home</h1>
        </div>
          
        <div class="dashboard-col">
          <div class="dashboard-card">
            <h2 class="dashboard-title">Hi, {{ auth.user.username }}</h2>
            <p class="dashboard-paragraph">
              TAS works by ingesting a spreadsheet of academics, units and other details. Our super smart machine learning technology then matches academics to units based on workloads, skill levels and other details.          </p>
          </div>
        </div>
  
        <div class="dashboard-col">
  
        <div class="dashboard-card card-half">
          <h2 class="dashboard-title">Import</h2>
          <p class="dashboard-paragraph">Import a spreadsheet to get started.</p>
  
          @!component('components.csvimporter', csrf=csrfField())
  
        </div>
  
        <div class="dashboard-card card-half">
          <h2 class="dashboard-title">Export</h2>
          <p class="dashboard-paragraph">Export to a spreadsheet.</p>
  
          @!component('components.csvexport', csrf=csrfField())
        
  
        </div>
        </div>
      </section>
    </div>
  </div>
</body>

@else

  @!component('components.head', title="Teacher Allocation System")
  <body class="flex-container">
    <div class="content-section">
    <div class="home-background flex-container flex-center img-cover">
      <div class="login-card white-transparent-fill">
        <h1 class="dd-title font-weight-light padding-24">Login to TAS</h1>
        <form method="POST" action="{{ route('UserController.login') }}">      
          {{ csrfField() }}
          <div class="input-group">
            <input class="text-input" type="text" name="email" placeholder="Email">
          </div>
          <div class="input-group">
            <input class="text-input" type="password" name="password" placeholder="Password">
          </div>
          @if(flashMessage('IncorrectDetails'))
          <section class="notification is-danger is-small is-light small-font-size">
            {{ flashMessage('IncorrectDetails')}}
          </section>
          @endif
          <div class="input-group">
            <input class="dd-button--round button-blue-fill full-width" type="submit" value="Submit">
          </div>
          </form>
        <p class="font-med padding-24">Don't have an account?&nbsp;<a href="signup">Sign up</a></p>
      </div>
    </div>
  </div>
  </body>
@endloggedIn
</html>
