<!DOCTYPE html>
<html>
@!component('components.head', title="Teacher Allocation System")
@!component('components.header')
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title is-1">
        Teacher Allocation System
      </h1>
      <p class="subtitle">
        @loggedIn
  <h2> Hello {{ auth.user.username }} </h2>
@else
  <p> Please login </p>
@endloggedIn
        Hi {{ auth.user.username }}! Welcome to the Teacher Allocation System (TAS)
      </p> 
      <h2 class="title is-2">
        Getting Started
      </h2>
      <p class="subtitle">
        TAS works by ingesting a spreadsheet of academics, units and other details. Our super smart machine learing technology then matches academics to units based on workloads, skill levels and other details.
      </p>
      <div class="buttons">
        <a href="import" role="button" class="button is-primary">Start Importing</a>
    </div>
    </div>
  </section>
  </body>

@include('partials.footer')

</html>