<!DOCTYPE html>
<html>
@!component('components.head', title="Teacher Allocation System")
@!component('components.headerauth')
  <body>
    <div class="container">
      <h1 class="title">
        Login
      </h1>
    </div>

    <form method="POST" action="{{ route('UserController.login') }}">      
      {{ csrfField() }}
    <div class="textbox-group">
      <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="text" name="email" placeholder="email">
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" name="password" placeholder="Password">
        </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <input type="submit" value="Submit" class="button">
          </div>
        </div>
      </div>
    </form>
  </body>
@include('partials.footer')

</html>