<!DOCTYPE html>
<html>
  @!component('components.head', title="Teacher Allocation System")
  <body>
    <div class="wrapper">
      @include('partials/sidebar')
      <div class="content-section">
        <div class="main-content">
          <div class="spreadsheet-container">
            <h1 class="title">Spreadsheet View</h1>
            @!component('components.spreadsheet', {
              title: "Current Spreadsheet state",
              csrf: csrfField(),
              route: route('SpreadsheetViewController.render'),
              global_spread: global_spread,
              academics: academics,
              units: units,
              allocations: allocations,
              offerings: offerings,
              preferences: preferences,
            })
          </div>
        </div>
      </div>
    </div>
  </body>
</html>