<!DOCTYPE html>
<html>
  @!component('components.head', title="Teacher Allocation System")

  <body>
    <div class="wrapper">
      @include('partials/sidebar')
    <div class="content-section">
    <div class="main-content">

      @!component('components.spreadsheet', title="Current Spreadsheet state")


    </div>
  </div>
</div>
</body>

</html>
