<!DOCTYPE html>
<html>
@!component('components.head', title="Teacher Allocation System")
@!component('components.header')
<body>
    <section class="section">
      <div class="container">
        <div class="section is-small">
          <div class="level">
            <div class="container">
              <h1 class="title">
                  Units
              </h1>
              <h2 class="subtitle">
                Add and Search for Units
              </h2>
            </div>
            <div class="level is-right">
              @!component('components.addunit', csrf=csrfField())
            </div>
          </div>
        </div>
        <div class="section">
          @!component('components.searchbar', title="Find Unit", csrf=csrfField(), route=route('UnitController.render'))
        </div>
        <div class="section">
          <p>
            @each(unit in units)
              @if(unit.assignedLoad == 1)
                <div class="mb-4">
                  <section class="hero is-success is-small">
                    <div class="hero-body">
                      <div class="columns is-10">
                        <div class="column is-four-fifths">
                          <p class="title">
                          {{ unit.id }}
                          </p>
                          <p class="subtitle">
                            {{ unit.name }}
                          </p>
                        </div>
                        <div class="column">
                          <p class="subtitle">
                            Semester: {{ unit.semester }}
                          </p>
                          <p class="subtitle">
                            Load: {{ unit.assignedLoad }}
                          </p>
                      </div>
                    </div>
                  </section>
                </div> 
              @elseif(unit.assignedLoad > 1)
                <div class="mb-4">
                  <section class="hero is-danger is-small">
                    <div class="hero-body">
                      <div class="columns is-10">
                        <div class="column is-four-fifths">
                          <p class="title">
                          {{ unit.id }}
                          </p>
                          <p class="subtitle">
                            {{ unit.name }}
                          </p>
                        </div>
                        <div class="column">
                          <p class="subtitle">
                            Semester: {{ unit.semester }}
                          </p>
                          <p class="subtitle">
                            Load: {{ unit.assignedLoad }}
                          </p>
                      </div>
                    </div>
                  </section>
                </div>
              @else
                <div class="mb-4">
                  <section class="hero is-warning is-small">
                    <div class="hero-body">
                      <div class="columns is-10">
                        <div class="column is-four-fifths">
                          <p class="title">
                          {{ unit.id }}
                          </p>
                          <p class="subtitle">
                            {{ unit.name }}
                          </p>
                        </div>
                        <div class="column">
                          <p class="subtitle">
                            Semester: {{ unit.semester }}
                          </p>
                          <p class="subtitle">
                            Load: {{ unit.assignedLoad }}
                          </p>
                      </div>
                    </div>
                  </section> 
                </div>
                @endif
            @else
              <section class="hero is-danger">
                <div class="hero-body">
                  <p class="title">
                    No Results
                  </p>
                  <p class="subtitle">
                    Please add a unit or import spreadsheet
                  </p>
                </div>
              </section>
            @endeach
          </p>
        </div>
      </div>
    </section>
</body>
<div class="mb-10">
@include('partials.footer')
</div>  
</html> 