<!DOCTYPE html>
<html>
  @!component('components.head', title="Teacher Allocation System")

  <body>
    <div class="wrapper">
      @include('partials/sidebar')
    <div class="content-section">
    <div class="main-content">
      {{--  Title, Search Bar--}}

      @!component('components.addunit', csrf=csrfField())

      @!component('components.searchUnits', title="Find unit code", units = units,  csrf=csrfField(), route=route('UnitController.render'))

      <div>
        {{-- Display Units --}}
        @!component('components.displayUnit', units=units, groupedUnits=groupedUnits, csrf=csrfField(), route=route('UnitController.render'))
      </div>

    </div>
  </div>
</div>
</body>
{{--
  <body>
  <section class="section">
    <div class="container">
      <div class="section is-small">
        <div class="level">
          <div class="container">
            <h1 class="title">Units</h1>
            <h2 class="subtitle">Add and Search for Units</h2>
          </div>
          <div class="level is-right">
            @!component('components.addunit', csrf=csrfField())
          </div>
        </div>
      </div>
      <div class="section">
        @!component('components.searchbar', title="Find Unit", units=units,  csrf=csrfField(), route=route('UnitController.render'))
      </div>
      @!component('components.displayUnit', csrf=csrfField(), route=route('UnitController.render'), units = units, groupedUnits= groupedUnits)
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </section>
  </body>
  --}}
</html>
