<!DOCTYPE html>
<html>
@!component('components.head', title="Teacher Allocation System")
@!component('components.header')
<body>
    <section class="section">
      <div class="container">
        <div class="section is-small">
          <div class="level">
            <div class="container">
              <h1 class="title">
                  Units
              </h1>
              <h2 class="subtitle">
                Add and Search for Units
              </h2>
            </div>
            <div class="level is-right">
              @!component('components.addunit', csrf=csrfField())
            </div>
          </div>
        </div>
        <div class="section">
          @!component('components.searchbar', title="Find Unit", csrf=csrfField(), route=route('UnitController.render'))
        </div>
        <div class="section">
            @!component('components.displayUnit', csrf=csrfField(), route=route('UnitController.render'), units = units)
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </section>
</body>
<div class="mb-10">
@include('partials.footer')
</div>  
</html> 