/* || GENERAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Press+Start+2P&display=swap');

html,body{
    height: 100%;
}

/* || END */

/* || UTILITIES */

.flex-container{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-col{
    flex-direction: column;
}

.img-cover{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.input-group{
    padding: 8px 0px;
}

.text-input{
    width:100%;
    padding:12px;
    border: 1px solid lightgray;
    font-size: medium;
}

.input-select{
    padding:12px;
    width:100%;
    border-radius: 10px;
}

.full-width{
    width: 100%;
}

.icon{
    padding-right:32px;
}

.text-align-center{
    text-align: center;
}


/* || END */

/* || PADDING */

.padding-32{
    padding: 32px;
}

.padding-24{
    padding: 24px;
}

.padding-16{
    padding: 16px;
}

/* || END */

/* || PADDING */

.margin-8{
    margin:8px;
}

/* || END */

/* || COLORS */

.white-transparent-fill{
    background-color: rgba(255, 255, 255, 0.9);
}

/* || END */

/* || TEXT/FONTS */

.dd-title{
    font-size: xx-large;   
}

.font-weight-light{
    font-weight: lighter;
}

.font-weight-med{
    font-weight: 600;
}

.font-weight-bold{
    font-weight: bold;
}

.font-med{
    font-size: medium;
}

.dd-font{
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.page-title{
    font-size: xx-large;
    font-weight: bold;
    margin-left:8px;
}

.page-subtitle{
    font-size: large;
    margin-left:8px;
}

/* || END */

/* || BUTTONS */

.dd-button{
    padding:10px 32px 10px 32px;
    border:none;
    cursor: pointer;
    font-size: medium;
    font-family: Inter, Arial, Helvetica, sans-serif;
    text-align: center;
}

.dd-button--round{
    padding:10px 32px 10px 32px;
    border:none;
    cursor: pointer;
    font-size: medium;
    font-family: Inter, Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 10px;
}

.button-blue-fill{
    background-color: #175e9c;
    color: white;
}

.button-blue-fill:hover{
    background-color: #134f84;
    color: white;
}

.button-red-fill{
    background-color: #ff0000;
    color: white;
}

.button-red-fill:hover{
    background-color: #bb0000;
    color: white;
}

.button-unavailable{
    background-color: grey;
    color: lightgrey;
    pointer-events: none;
}

.button-unavailable:hover{
    background-color: grey;
    color: lightgrey;
}

.dd-button--hyperlink{
    background-color: transparent;
    color: black;
    border:none;
    cursor: pointer;
    font-size: medium;
    border-radius: 10px;
    border:none;
    font-family: Inter, Arial, Helvetica, sans-serif;
    text-align: center;
}

.dd-button--hyperlink:hover{
    color: blue;
}

/* || END */

/* || HOME PAGE */
.home-background{
    width:100%;
    height: 100%;
    background: url('splash.jpg');   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-card{
    min-width:400px;
    height:fit-content;
    padding:16px 56px;
    text-align: center;
}

/* || END */

/* || SEARCHBAR */

.searchbar-select{
    padding:8.2px 16px;
    border:1px lightgray solid;
    font-size: medium;
    cursor:pointer;
    position: relative;
    right:1px;
}

.search-input{
    padding:9px 10px;
    border:1px lightgray solid;
    font-size: medium;
    min-width:300px;
    width:500px;
    border-radius: 10px 0px 0px 10px;
}

.searchbar-button{
    padding:11.5px 32px;
    color:white;
    cursor: pointer;
    border:none;
    background-color: #175e9c;
    font-family: Inter, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: medium;
    position: relative;
    right:2px;
    border-radius: 0px 10px 10px 0px;
}

.searchbar-button:hover{
    background-color: #1d7dd1;
    color: white;
}

.searchbar-clear-button{
    padding:10.3px 8px;
    color:black;
    border:none;
    cursor: pointer;
    font-family: Inter, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: medium;
    position: relative;
}

.searchbar-clear-button:hover{
    color:blue;
}

.searchbar-wrapper{
    width:100%;
    padding:0px 0px 32px 0px;
}

/* || END */

/* || SIDEBAR || NAVBAR || NAV */
.sidebar-cont{
    display: block;
    min-width: 180px;
}

.sidebar{
    min-width: 180px;
    background-color: rgb(5, 19, 95);
    height:100%;
    position: fixed;
}

.sidebar-user-container{
    padding:24px;
    height: 64px;
    width:100%;
    display: flex;
    align-items: center;
    color: white;
}

.nav-item-link{
    color: white;
}

.nav-item{
    padding:8px 24px;
    text-align: left;
    font-size: medium;
}

.nav-item:hover{
    background-color: #1d7dd1;
    color: white;
}

/* || END */

/* || DASHBOARD || CONTENT || MAIN CONTENT */
.main-content{
    padding:64px;
    width: 100%;
    min-height: 100%;
    height: fit-content;
    background-color: rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
}

.dashboard-col{
    display: flex;
    flex-direction:row;
    width: 100%;
}

.dashboard-card{
    height: auto;
    padding:32px;
    border-radius:15px;
    margin:8px;
    background-color: white;
    flex:1;
}

.card-half{
    width: fit-content;
    flex: 1;
}

.dashboard-welcome-text{
    font-size: x-large;
    font-weight: bold;
}

.dashboard-title{
    font-size: x-large;
    font-weight: 600;
}

.dashboard-paragraph{
    font-size: medium;
}

/* || END */ 

/* || IMPORTER || DROP-ZONE || FILE UPLOAD */
.drop-zone{
    width:100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 2px dashed lightgrey;
    padding: 32px;
    margin:16px 0px;
    cursor: pointer;
    background-color: rgb(242, 242, 242);
}

.dragover{
    border: 2px solid rgb(0, 59, 187);
}

.file-icon{
    margin-bottom:12px;
}

/* || END */ 
/* || TABLE */
.table-outter{
    margin:0px 0px;
    border-bottom: 1px solid lightgray;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.table-static{
    width: 100%;
    height:fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}

.table-bg-primary{
    background-color: rgb(255, 255, 255);
}

.table-bg-secondary{
    background-color: rgb(245, 245, 245);
}

.table-collapse{
    width: 100%;
    height:fit-content;
    background-color: rgb(240, 240, 240);
    display:none;
    overflow: hidden;
    padding:3%;
    align-items: center; 
    justify-content: center;
}

.table-collapse--inner{
    width: auto;
    height:fit-content;
    display: flex;
    align-items: center;
    border-bottom:1px lightgrey solid ;
    flex:1;
    margin:0% 3%;
    padding:8px 0px;
}

.table-title-block{
    width: 100%;
    background-color:rgb(249, 249, 249);
    display: flex;
    align-items: center;
    font-weight: bold;
    padding:12px 0px;
}

.table-section--xx-small{
    width: 3%;
}

.table-section--x-small{
    width: 6%;
}

.table-section--small{
    width: 10%;
}

.table-section--medium{
    width:15%;
    overflow-x:hidden;
}

.table-section--large{
    width:20%;
}

.table-section--x-large{
    width:25%;
}

.table-section--stat{
    width:25px;
}

.stat-green{
    height: 15px;
    background-color: green;
    border-radius: 10px;
}

.stat-red{
    height: 15px;
    background-color: red;
    border-radius: 10px;
}

.stat-yellow{
    height: 15px;
    background-color: yellow;
    border-radius: 10px;
}

.arrow-normal{
    animation-name: arrow-spin-up;
    animation-duration: 500ms;
    transform: rotate(0deg);
}

.arrow-down{
    animation-name: arrow-spin-down;
    animation-duration: 500ms;
    transform: rotate(90deg);
}

@keyframes arrow-spin-down {
    from {transform: rotate(0deg);}
    to {transform: rotate(90deg);}
}

@keyframes arrow-spin-up {
    from {transform: rotate(90deg);}
    to {transform: rotate(0deg);}
}







