<form action="export" method="post">
    {{csrf}}


    <div class="input-group">
    <br><br>
    <input type="submit" value="Export" class="dd-button--round button-blue-fill" href="template2.xlsx" download="export.xlsx">
    </div>
  </form>
