<button type="button" class="dd-button--hyperlink" data-code='{{unit.code}}' data-name="{{unit.name}}" data-subjectAreaGroup="{{unit.subjectAreaGroup}}" data-action="Hello" data-labels="{{labels}}" onclick="editUnitPopup(this)">Edit</button>