<div class="field has-addons has-addons-centered">
  <p class="control">
    <span class="select">
      <select>
        <option>2021</option>
        <option>2020</option>
        <option>2019</option>
        <option>2018</option>
      </select>
    </span>
  </p>
  <p class="control is-expanded">
    <input class="input" type="text" placeholder="{{title}}">
  </p>
  <p class="control">
    <a class="button is-primary">
      Search
    </a>
  </p>
</div>