<nav class="navbar" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        2021
      </a>
  
      <div class="navbar-dropdown">
        <a class="navbar-item">
          2020
        </a>
        <a class="navbar-item">
          2019
        </a>
        <a class="navbar-item">
          2018
        </a>
      </div>
    </div>
  </nav>